.ContainerLayout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Container {
    width: 100%;
    min-height: 300px;
    /*height: calc(100% - 200px);*/
    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.TopRow {
    flex: 0 0 auto;
    text-align: center;
}
.BottomRow {
    flex: 1 1 auto;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
    /*overflow: auto;*/
}
.buttonAddRow {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 6px;
    padding: 0px 24px;
    height: 40px;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
    border: none;
    background-color: #333333;
    transition: background-color 0.2s ease-in-out;
    color: white;
}
.buttonAddRow:hover {
    box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
    background-color: #4D4D4D;
    cursor: pointer;
}
.Panel {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: initial!important;
}

.PanelGroup {
    overflow: initial!important;
}

.PanelContent {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #4D4D4D;
}

.ResizeHandleOuter {
    flex: 0 0 1.5em;
    position: relative;
    outline: none;

    --background-color: transparent;
}
.ResizeHandleOuter[data-resize-handle-active] {
    --background-color: var(--color-solid-resize-bar-handle);
}

.ResizeHandleInner {
    position: absolute;
    top: 0.25em;
    bottom: 0.25em;
    left: 0.25em;
    right: 0.25em;
    border-radius: 0.25em;
    background-color: var(--background-color);
    transition: background-color 0.2s linear;
}

.Button {
    color: var(--color-default);
    background-color: var(--color-button-background);
    border: 1px solid var(--color-button-border);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.Button:hover {
    background-color: var(--color-button-background-hover);
}

.Link {
    display: block;
    color: var(--color-link);
    margin-bottom: 0.5rem;
}

.Icon {
    width: 1em;
    height: 1em;
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
}

.imageData {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 250px;
    background-color: #141414;
    border: 1px solid #333333;
    z-index: 100;
    /*display: flex;*/
    /*justify-content: center;*/
}
.imageData button {
    height: 32px;
    padding: 0px 24px;
    background: #333333;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: background 0.2s ease-in-out;
}
.imageData button:hover {
    background: #666666;
    cursor: pointer;
}

.imagesPreview {
    display: flex;
    gap: 10px;
    margin-top: 12px;
    overflow-x: auto;
}

.resizeHandleWrapper {
    /*background-color: red;*/
}
.resizeHandle {
    background-color: chocolate;
}
.resizeHandleGreen {
    background-color: green;
}
.resizeHandleRed {
    background-color: red;
}
.resizeHandleBlue {
    background-color: blue;
}
.resizeHandleGold {
    background-color: gold;
}


.emptyBox {
    min-height: 200px;
    color: coral;
    width: 100%;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainRow {
    position: relative;
    min-height: 200px;
}

.ButtonRowAddItem {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 10;
}
.ButtonRowAddItem button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #EFE43F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    transition: background 0.2s ease-in-out;
}
.ButtonRowAddItem button:hover {
    background: #EFE76E;
    cursor: pointer;
}

.emptyImgBox {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.del {
    position: absolute;
    right: 10px;
    top:10px
}

.divideBox {
    position: absolute;
    right: 10px;
    bottom:10px
}

.swapperBox {
    position: absolute;
    top:10px;
}

.imageLibOpener {
    position: absolute;
    top: -24px;
    right: 0;
    z-index: 10;
}
.imageLibOpener button {
    height: 24px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    background: #EFE43F;
    box-shadow: 0px 4px 18px 0px rgba(239, 228, 63, 0.40);
    transition: background 0.2s ease-in-out;
    border-radius: 6px;
}
.imageLibOpener button:hover {
    background-color: #EFE76E;
    cursor: pointer;
}

.initialChangeRowActions {
    width: 100%;
    height: 100%;
    min-height: 200px;
    border: 1px solid #4D4D4D;
    display: flex;
    gap: 48px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.initialChangeRowActions button {
    border: none;
    background-color: transparent;
    outline: none;
    color: #333333;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 64px;
    transition: color 0.2s ease-in-out;
}
.initialChangeRowActions button:hover {
    color: #666666;
}


/*SLIDER*/
.sliderContainer {
    /*max-height: 50%;*/
    max-height: 200px;
    min-height: 200px;
    border: 1px solid #4D4D4D;
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*overflow-x: auto;*/
}

.emptySlider {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
}
/*SLIDER*/

/*!!!!EMBLA!!!!*/
.embla {
    position: relative;
    width: 100%;
}
.emblaViewport {
    overflow: hidden;
}
.emblaContainer {
    display: flex;
    gap: 24px;
    will-change: transform;
    /*margin-left: -1rem;*/
}
.emblaSlide {
    flex: 0 1 auto;
    /*width: 100%;*/
    position: relative;
    /*padding-left: 1rem;*/
    counter-increment: embla;
}
.emblaSlideInner {
    /*background-color: rgb(40, 44, 52);*/
    width: fit-content;
    position: relative;
    /*border-radius: 0.5rem;*/
    /*min-height: 200px;*/
    /*padding-bottom: 46%;*/
    /*font-size: 5rem;*/
}
/*!!!!EMBLA!!!!*/
