.App {
  height: 100%;
}

.dropSquareContainer {
  /*border:5px solid red;*/
  min-height: 150px;
  padding: 10px;

}

.dropSquare {
  min-height: 300px;
}

.gridItem {
  height: 100%!important;
}

.dragItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 10px;
  justify-content: space-between;
  padding: 30px 15px;
  overflow: hidden;
  clear: both;
}

.dragItem {
  /*margin: 15px;*/
  cursor: move;
  position: relative;
}

.itemInfo {
  position: absolute;
  top: -15px;
  left: -5px;
  padding: 5px 10px;
  border-radius: 25px;

}
