.App {
  height: 100%;
}

.dropSquareContainer {
  /*border:5px solid red;*/
  min-height: 150px;
  height: 100%;
  /*padding: 10px 10px 250px 10px;*/
  /*padding-bottom: 250px;*/
}

.dropSquare {
  min-height: 300px;
}

.gridItem {
  height: 100%!important;
}

.dragItem {
  /*margin: 15px;*/
  cursor: move;
  position: relative;
}

.itemInfo {
  position: absolute;
  top: -15px;
  left: -5px;
  padding: 5px 10px;
  border-radius: 25px;

}
