:root {
    --color-background-code: rgba(0, 0, 0, 0.35);
    --color-background-default: #081120;
    --color-button-background: #2a3343;
    --color-button-background-hover: #454950;
    --color-button-border: #18181a;
    --color-code: #c67bff;
    --color-default: #ffffff;
    --color-horizontal-rule: #454950;
    --color-link: #dcadff;
    --color-panel-background: #192230;
    --color-panel-background-alternate: #202124;
    --color-solid-resize-bar: #454950;
    --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #000000;
    color: var(--color-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}


.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}
